<!DOCTYPE html>
<html>
    <head>
        <title>yelp camp</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    </head>
    <body>
        
                <nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">Yelp Camp</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">

       
      </ul>

      <ul class="nav navbar-nav navbar-right">
        
<% if(!currentUser){ %>
         <li><a href="/login">Login</a></li>
          <li><a href="/register">Sign Up</a></li>
         <% }else{ %>
         <li><a href="#">signed in as <%= currentUser.username%></a></li>
          <li><a href="/logout">LogOut</a></li>
         <% } %>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
        
         <div class="container">
          <% if(error && error.length>0){ %>
          <div class="alert alert-danger" role="alert">
            <%=error%>
        </div>
        <% } %>
        
        <% if(success && success.length>0){ %>
        <div class="alert alert-success" role="alert">
            <%=success%>
        </div>
        <% } %>
      </div>
        
        
        
        
        <div class="container">
            <h1 style="text-align:center;">Edit Comments</h1>
<form  action="/campgrounds/<%= camp_id %>/comments/<%=comment._id%>?_method=PUT" method="POST">
    <div style="width:30%; margin:30px auto;">
            <input  class="form-control form-group" type="text" value="<%=comment.text%>" name="comment[text]">

<input class="btn btn-lg btn-primary btn-block form-group" type="submit">
<a href="/campgrounds/<%=camp_id%>">Go Back</a>
    </div>


</form>


        </div>

  </body>
</html>